.hotel-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  transition: box-shadow 0.3s ease;
  width: 96.5%;
}

.hotel-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hotel-details {
  display: flex;
  flex-direction: column;
}

.hotel-title {
  font-size: 33px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hotel-location,
.hotel-price {
  margin-bottom: 4px;
  color: #555;
}

.hotel-action {
  display: flex;
  align-items: center;
  flex-direction:column;
}

.book-button {
  background-color: #007bff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-button:hover {
  background-color: #0056b3;
}


